Redirect 301 /blog/writing/holidays/ http://cartera.me/2009/02/20/holidays/
Redirect 301 /blog/music/ni%d0%b8/ http://cartera.me/2009/05/27/nin/
Redirect 301 /blog/uncategorized/transcription/ http://cartera.me/2009/03/05/transcription/
Redirect 301 /blog/writing/clogged-senses-explained/ http://cartera.me/2009/01/12/clogged-senses-explained/
Redirect 301 /blog/politics/16/ http://cartera.me/2008/12/23/damn-republicans./
Redirect 301 /blog/%c2%a7-products/understanding-object-oriented-programming-and-the-mvc-system/ http://cartera.me/2009/04/15/understanding-object-oriented-programming-and-the-mvc-system/
Redirect 301 /blog/girls/shit-happens/ http://cartera.me/2008/12/14/shit-happens-to-me/
Redirect 301 /blog/observations/restroom-etiquette/ http://cartera.me/2009/10/25/restroom-etiquette/
Redirect 301 /blog/music/metamorphosis/ http://cartera.me/2009/03/25/metamorphosis/
Redirect 301 /blog/music/seven-ways-to-tell-if-your-band-is-too-old/ http://cartera.me/2009/06/13/seven-ways-to-tell-if-your-band-is-too-old/
Redirect 301 /blog/uncategorized/iphone-test/ http://cartera.me/2009/02/04/iphone-test/
Redirect 301 /blog/geeky/safari-4/ http://cartera.me/2009/02/25/safari-4/
Redirect 301 /blog/geeky/random-tech-post/ http://cartera.me/2009/03/12/random-tech-post/
Redirect 301 /blog/observations/entitlement/ http://cartera.me/2009/04/21/entitlement/