# Cache Controls
<IfModule mod_expires.c>
	Header set cache-control: public
	ExpiresActive on
	ExpiresDefault							"access plus 1 month"
	ExpiresByType text/cache-manifest		"access plus 0 seconds"
	ExpiresByType text/html					"access plus 0 seconds"
	ExpiresByType text/xml					"access plus 0 seconds"
	ExpiresByType application/xml			"access plus 0 seconds"
	ExpiresByType application/json			"access plus 0 seconds"
	ExpiresByType image/vnd.microsoft.icon	"access plus 1 week" 
#	ExpiresByType image/png					"access plus 1 month"
#	ExpiresByType image/jpg					"access plus 1 month"
#	ExpiresByType image/jpeg				"access plus 1 month"
#	ExpiresByType video/mp4					"access plus 1 month"
	ExpiresByType text/css					"access plus 1 year"
	ExpiresByType application/javascript	"access plus 1 year"
	ExpiresByType text/javascript			"access plus 1 year"
</IfModule>
FileETag None

# GZip Compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/css application/x-javascript text/javascript application/javascript application/json text/xml application/xml text/x-component
</IfModule>

# Redirects from old blog posts to new articles.
Redirect 301 /blog/writing/holidays/ http://cartera.me/2009/02/20/holidays/
Redirect 301 /blog/music/ni%d0%b8/ http://cartera.me/2009/05/27/nin/
Redirect 301 /blog/uncategorized/transcription/ http://cartera.me/2009/03/05/transcription/
Redirect 301 /blog/writing/clogged-senses-explained/ http://cartera.me/2009/01/12/clogged-senses-explained/
Redirect 301 /blog/politics/16/ http://cartera.me/2008/12/23/damn-republicans./
Redirect 301 /blog/%c2%a7-products/understanding-object-oriented-programming-and-the-mvc-system/ http://cartera.me/2009/04/15/understanding-object-oriented-programming-and-the-mvc-system/
Redirect 301 /blog/girls/shit-happens/ http://cartera.me/2008/12/14/shit-happens-to-me/
Redirect 301 /blog/observations/restroom-etiquette/ http://cartera.me/2009/10/25/restroom-etiquette/
Redirect 301 /blog/music/metamorphosis/ http://cartera.me/2009/03/25/metamorphosis/
Redirect 301 /blog/music/seven-ways-to-tell-if-your-band-is-too-old/ http://cartera.me/2009/06/13/seven-ways-to-tell-if-your-band-is-too-old/
Redirect 301 /blog/uncategorized/iphone-test/ http://cartera.me/2009/02/04/iphone-test/
Redirect 301 /blog/geeky/safari-4/ http://cartera.me/2009/02/25/safari-4/
Redirect 301 /blog/geeky/random-tech-post/ http://cartera.me/2009/03/12/random-tech-post/
Redirect 301 /blog/observations/entitlement/ http://cartera.me/2009/04/21/entitlement/
Redirect 301 /blog/geeky/macheist-iii-bundle/ http://cartera.me/2009/03/25/macheist-iii-bundle/
Redirect 301 /blog/music/music/ http://cartera.me/2008/12/23/music/
Redirect 301 /blog/writing/why-are-my-shoes-free-ad-space/ http://cartera.me/2009/06/18/why-are-my-shoes-considered-free-ad-space/
Redirect 301 /blog/family/tiger/ http://cartera.me/2010/02/08/tiger/
Redirect 301 /blog/geeky/rss-feeds/ http://cartera.me/2009/05/25/rss-feeds/
Redirect 301 /blog/uncategorized/redesign-complete/ http://cartera.me/2009/05/10/redesign-complete/
Redirect 301 /blog/observations/why-fergies-is-now-a-terrible-place/ http://cartera.me/2009/02/09/why-fergies-is-now-a-terrible-place/
Redirect 301 /blog/movies/angels-and-demons-terminator-salvation/ http://cartera.me/2009/05/24/angels-and-demons-and-terminator-salvation/
Redirect 301 /blog/geeky/shapps/ http://cartera.me/2010/04/07/shapps/
Redirect 301 /blog/geeky/canabalt-is-the-perfect-game/ http://cartera.me/2009/10/11/canabalt-is-the-perfect-game/
Redirect 301 /blog/music/music-again/ http://cartera.me/2009/03/01/music-again/
Redirect 301 /blog/geeky/sidebar-icons/ http://cartera.me/2009/05/23/sidebar-icons/
Redirect 301 /blog/observations/carbon-offsets/ http://cartera.me/2009/05/18/carbon-offsets/