.vcard {
	margin: auto;
	padding: 0px 0px 0px 20px;
	width: 375px;
	height: 170px;
}
.vcard p, .vcard a {
	margin: 0px;
	line-height: normal;
}
.adr {
	display: none;
}
.photo {
	float: left;
	margin-right: 20px;
	border-radius: 5px;
}
#bio {
	font-size: 14px;
	margin: 10px 0px 10px 0px;
}
#links {
	width: 300px;
	height: 26px;
	margin-left: 170px;
}
#links a {
	display: block;
	width: 26px;
	height: 26px;
	margin-left: 4px;
	float: left;
}
.email {
	margin-left: 0px;
	background: url(../images/icons/email.png) 1px 1px no-repeat; 
}
#aim { background: url(../images/icons/aim.png) 1px 1px no-repeat; }