html { margin: 20px; }
body {
	font-family: 'Baskerville', Georgia, Times, serif;
	font-size: 20px;
	line-height: 30px;
	margin: auto;
	width: 700px;
}
body > header {
	height: 160px;
	background-color: #d8d8d8;
	width: 700px;
	border-radius: 5px;
	margin-bottom: 30px;
}
body > header a {
	text-decoration: none;
	color: black;
}
.post {
	padding: 15px;
	width: 700px;
}
img#logo {
	float: left;
	padding-left: 50px;
}
p#logotype {
	position: absolute;
	margin-left: 230px;
	font-size: 48pt;
}
p#blogTitleText {
	position: absolute;
	margin: 74px 0px 0px 540px;
	font-size: 24pt;
}
#caption {
	position: absolute;
	font-size: 24px;
	margin: -135px 0 0 70px;
}
#path { color: #b53131; }
.date {
  font-style: italic;
  float: right;
  line-height: 43px;
  margin-right: 30px;
}
a { color: #b83000; }
h1 a {
  color: black;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
.post header { margin-bottom: 10px; }
.post .body p:first-child { margin-top: 0; }
.post .body p:last-child { margin-bottom: 0; }
.post { margin-bottom: 30px; }
.post:last-child { margin-bottom: 10px; }
.post p { margin: 10px 0; }
.post .more {
	margin: -10px 30px 0px 0px;
	font-style: italic;
	text-align: right;
}
.more a { text-decoration: none; }
.more a:hover { text-decoration: underline }
h1, h2, h3, h4 {
	display: inline;
	margin: 0;
	font-weight: 600;
}
code { font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono; }
pre { padding: 20px; }
blockquote { font-style: italic; }
footer {
	text-align: left;
	font-style: italic;
	font-size: 18px;
	color: #888;
}
pre.overflow_visible_hover, pre.overflow_visible_sticky { overflow: visible; }
.centerImage {
	text-align:center;
	margin: 0px;
	padding:0px;
}
/* Pretty printing styles. Used with prettify.js. */
/*.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
pre.prettyprint { padding: 2px; border: 1px solid #888; }
@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}*/