---
---
.vcard {
	margin: auto;
	padding: 0px 0px 0px 20px;
	width: 375px;
	height: 170px;
}
.vcard p, .vcard a {
	margin: 0px;
	line-height: normal;
}
.photo {
	float: left;
	margin-right: 20px;
	border-radius: 5px;
}
#links {
	width: 300px;
	height: 26px;
	margin-left: 170px;
}
#links a {
	display: block;
	width: 26px;
	height: 26px;
	margin-left: 4px;
	float: left;
}
.email {
	margin-left: 0px;
	background: url(../images/icons/email.png) 1px 1px no-repeat; 
}
#aim { background: url(../images/icons/aim.png) 1px 1px no-repeat; }
#skype { background: url(../images/icons/skype.png) 1px 1px no-repeat; }
#ember { background: url(../images/icons/ember.png) 1px 1px no-repeat; }
#flickr { background: url(../images/icons/flickr.png) 1px 1px no-repeat; }
#google { background: url(../images/icons/google.png) 1px 1px no-repeat; }
#lastfm { background: url(../images/icons/lastfm.png) 1px 1px no-repeat; }
#linkedin { background: url(../images/icons/linkedin.png) 1px 1px no-repeat; }
#vimeo { background: url(../images/icons/vimeo.png) 1px 1px no-repeat; }
#youtube { background: url(../images/icons/youtube.png) 1px 1px no-repeat; }