/* 
	html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
	v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
	html5doctor.com/html-5-reset-stylesheet/
	Modified for personal use by Carter Allen.
*/
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
h1, h2, h3, h4 { margin: 0; display:inline; }
/* End Reset CSS */

@import "mixins";

@pinstripe-color: #323232;
@shadow-color: black;

html {
	background-color: #646464;
	background-image:
	-webkit-gradient(linear, 100% 0%, 0% 100%,
		from(transparent),
		color-stop(0.15, transparent),
		color-stop(0.15, @pinstripe-color),
		color-stop(0.50, @pinstripe-color),
		color-stop(0.50, transparent),
		color-stop(0.65, transparent),
		color-stop(0.65, @pinstripe-color),
		to(@pinstripe-color));
	background-image:
	-moz-linear-gradient(100% 0%, 
		transparent 0.15,
		@pinstripe-color 0.15,
		@pinstripe-color 0.50,
		transparent 0.50,
		transparent 0.65,
		@pinstripe-color 0.65);
	.background-size(60px, 60px);
	background-attachment: fixed;
	overflow-y: scroll;
}
body {
	font-family: "Gill Sans", "Gill Sans MT", "Gill Sans MS", Helvetica, Sans-Serif;
	font-size: 20px;
	line-height: 30px;
	background-color: #d8d8d8;
	width: 700px;
	.border-radius(5px);
	margin: 20px auto;
	padding-bottom: 3px;
	.box-shadow(0px, 1px, 5px, @shadow-color);
}
body > header {
	height: 140px;
	margin-bottom: 5px;
}
body > header a {
	text-decoration: none;
	color: black;
}
#content {
	width: 650px;
	margin: 0px auto;
	background-color: white;
	.border-radius(5px);
	.inset-box-shadow(0px, 1px, 5px, @shadow-color);
	padding-top: 20px;
}
.divider {
	margin: 25px;
	font-family: 'Georgia', Georgia, Times, serif;
	color: #e6e6e6;
	font-size: 32pt;
	text-align: center;
}
nav {
	position: absolute;
	display: block;
	margin: 105px auto 0px 120px;
	float: left;
	background-color: white;
	padding-left: 2em;
	.border-radius(5px);
}
nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	list-style-image: none;
}
nav li {
	display: inline;
	padding-right: 2em;
}
#bottomNav {
	padding: 0px 0px 25px 25px;
	display: block;
}
#logo {
	float: left;
	margin-left: 120px;
}
img { border-width: 0px; }
#logotype {
	position: absolute;
	margin-top: 20px;
	margin-left: 290px;
	font-size: 44pt;
	line-height: 44pt;
	text-decoration: none;
	display: block;
}
a {
	color: #b83000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 18px;
	line-height: 1em;
}
h2 { font-size: 16px; }
h1 a {
  color: black;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
blockquote { font-style: italic; }
footer {
	text-align: center;
	font-size: 11px;
	line-height: 0.75em;
	padding: 0;
	margin: 0;
	color: #888;
}
.centerImage {
	text-align:center;
	margin: 0px;
	padding:0px;
}