#projects {
	padding: 0px 20px 10px 20px;
}
.project {
	margin: 0px 0px 20px 0px;
	padding: 0px;
	display: block;
}
.project p {
	margin: 0px;
	font-size: 12pt;
	font-family: 'Georgia', Georgia, Times, serif;
	line-height: 1.2em;
	margin-left: 100px;
}
img {
	float: left;
	clear: left;
}