<!-- About -->
<!-- Stylesheets: about -->
<div class="vcard">
	<img src="http://zcr.me/f/me150.png" alt="Photo of Carter Allen" class="photo" width=150 height=150>
	<p>Carter Allen</p>
	<p>
		<span class="adr">
			<span class="locality">Los Angeles</span>,
			<span class="region">California</span>
		</span>
	</p>
	<p id="bio">
		I&rsquo;m a student of engineering at the University of Southern California by day, and a programmer by night. I hail from Denver, Colorado, and am currently living on-campus in Los Angeles. Writing biographies isn&rsquo;t really my thing.
	</p>
	<div id="links">
		<a class="email" title="Email" href="mailto:Carter@zcr.me"></a>
		<a id="aim" class="url" title="AIM" href="aim:goim?screenname=Carter@zcr.me"></a>
	</div>
</div>