<!-- About -->
<!-- Stylesheets: about -->
<div class="vcard">
	<img src="http://zcr.me/f/me150.png" alt="Photo of Carter Allen" class="photo" width=150 height=150>
	<p>Carter Allen</p>
	<p><span class="org">Opt-6 Products, LLC</span></p>
	<p>
		<span class="adr">
			<span class="locality">Denver</span>,
			<span class="region">Colorado</span>
		</span>
	</p>
	<div id="links">
		<a class="email" title="Email" href="mailto:Carter@zcr.me"></a>
		<a id="aim" class="url" title="AIM" href="aim:goim?screenname=Carter@zcr.me"></a>
		<a id="skype" class="url" title="Skype" href="skype:DevCarterA"></a>
		<a id="ember" class="url" title="Ember Profile" href="http://emberapp.com/carter"></a>
		<a id="flickr" class="url" title="Flickr Stream" href="http://www.flickr.com/photos/carterallen/"></a>
		<a id="google" class="url" title="Google Profile" href="https://profiles.google.com/112515687893069552164" rel="me"></a>
		<a id="lastfm" class="url" title="Last.fm Profile" href="http://www.last.fm/user/DevCarterA"></a>
		<a id="linkedin" class="url" title="LinkedIn Profile" href="http://www.linkedin.com/in/devcartera"></a>
		<a id="vimeo" class="url" title="Vimeo Profile" href="http://vimeo.com/cartera"></a>
		<a id="youtube" class="url" title="YouTube Channel" href="http://www.youtube.com/user/DevCarterA"></a>
	</div>
</div>