<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/uv.css">
		<link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml">
		<title><%= title %></title>
		<script src="/js/jquery.prettify.js"></script>
		<script src="/js/main.js"></script>
	</head>
	<body>
		<header>
			<a href="/">
				<img id="logo" src="/images/hat.png" width=160 height=160>
				<p id="logotype">carter<b>allen</b><p id="blogTitleText"> ~	blog</p></p>
			</a>
		</header>
		<%= yield %>
		<footer>
			Powered by <a href="http://cloudhead.io/toto">toto</a>
		</footer>
	</body>
</html>