<!DOCTYPE HTML>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/prettify.css">
	<link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml">
	<title><%= title %></title>
	<script src="/js/jquery.prettify.js"></script>
	<script src="/js/main.js"></script>
  </head>
  <body>
    <section>
      <%= yield %> 
    </section>
    <footer>
		Powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>