<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/prettify.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/prettify.js"></script>
	<style type="text/css">
		pre.overflow_visible_hover, pre.overflow_visible_sticky {
			overflow: visible;
		}
	</style>
	<script>
		$(document).ready(function(){
		    $("pre code").each(function(){
		        $(this).addClass('prettyprint');
		    });
			// Toggle overflow on code blocks.
			$('head').append($("<style type='text/css'>pre{overflow:hidden}<\/style>"));
			$('pre').hover(function(){
			    $(this).addClass('overflow_visible_hover');
			}, function(){
			    $(this).removeClass('overflow_visible_hover');
			});
			$('pre').click(function(){
			    $(this).toggleClass('overflow_visible_sticky');
			});
		    prettyPrint();
		});
	</script>
  </head>
  <body>
    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

