<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml">
		<title>{{ page.title }}</title>
		<script src="/scripts/jquery.js"></script>
		<script src="/scripts/main.js"></script>
	</head>
	<body>
		<header>
			<a href="/">
				<img id="logo" src="/images/hat.png" width=160 height=160>
				<p id="logotype">carter<b>allen</b><p id="blogTitleText"> ~	blog</p></p>
			</a>
		</header>
		{{ content }}
		<footer>
		</footer>
	</body>
</html>