<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml">
		<title>{{ page.title }}</title>
		<script src="/scripts/jquery.js"></script>
		<script src="/scripts/main.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<a href="/">
					<img id="logo" src="/images/hat.png" width=160 height=100>
					<p id="logotype">carter<b>allen</b></p>
				</a>
			</header>
			<section id ="content">
				{{ content }}
			</section>
			<footer>
			</footer>
		</div>
	</body>
</html>