<!DOCTYPE HTML>
<html>
	<head>
		
		<meta charset="utf-8">
		<title>Carter Allen - {{ page.title }}</title>
		<meta name="description" content="Articles and projects written and created by developer Carter Allen.">
		<meta name="author" content="Carter Allen">
		<link rel="alternate" type="application/atom+xml" title="Carter Allen - Feed" href="http://feeds.feedburner.com/CarterADotMeBlog?format=xml">
		
		{% include_stylesheet main.less %}
		<!--[if lte IE 7]>{% include_stylesheet main-ie7.css %}<![endif]-->
		<!--[if lte IE 6]>{% include_stylesheet main-ie6.css %}<![endif]-->
		{% if page.stylesheets != nil %}{% for stylesheet in page.stylesheets %}<link rel="stylesheet" href="{{ stylesheet | include_stylesheet }}">{% endfor %}{% endif %}{% if page.syntax-highlighting %}
		{% include_stylesheet syntax-highlighting.css %}{% endif %}
		{% if site.mode == "deployment" %}{% include_script main.js %}{% endif %}
		
	</head>
	<body>
		<header>
			<a href="/">
				<img id="logo" src="/images/hat.png" width=160 height=100>
				<p id="logotype">carter<b>allen</b></p>
			</a>
			<nav>
			  <ul>
				<li><a href="/">Articles</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/archives">Archives</a></li>
				<li><a href="/about">About</a></li>
			  </ul>
			</nav>
		</header>
		<section id ="content">{{ content }}</section>
		<footer>
			<p>Site revision <a href="http://github.com/CarterA/cartera.me/tree/{% commit_hash %}">{% commit_hash %}</a>. Valid <a href="http://validator.w3.org/check?uri=referer" target="_blank">HTML5</a>.</p>
			<p>Copyright 2010 Carter Allen</p>
		</footer>
	</body>
</html>